@import "../../../styles/variables";
@import "../../../styles/mixins";

.icon {
  cursor: pointer;
  transition: transform 0.3s ease;

  @include hover-supported {
    &:hover {
      transform: translateY(-5px);
    }
  }
}
