@import "../../../styles/variables";
@import "../../../styles/mixins";

.newsCard {
  border-radius: 2px;
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  border: none;
  box-shadow: none;
  cursor: pointer;

  @include hover-supported {
    &:hover {
      transform: translateY(-5px);
      box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
    }
  }

  &.light {
    background-color: $primary-white;
    color: $primary-black;

    .content {
      padding: 24px 0;
    }

    .date {
      color: $text-light;
    }

    .description {
      color: $text-light;
    }
  }

  &.dark {
    color: $primary-white;

    .imageContainer {
      position: relative;
      height: 100%;

      &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(
          to bottom,
          rgba(0, 0, 0, 0.3) 0%,
          rgba(0, 0, 0, 0.7) 100%
        );
      }
      .content {
        position: absolute;
        bottom: 0;
        z-index: 2;
        padding: 18px;
        height: auto;
        display: block;
      }
    }

    .date {
      color: rgba($primary-white, 0.7);
    }

    .tag {
      color: $primary-white;
    }

    .description {
      color: rgba($primary-white, 0.6);
    }
  }
}

.imageContainer {
  width: 100%;

  .light & {
    height: 368px;

    @include tablet {
      height: 280px;
    }

    @include mobile {
      height: 200px;
    }
  }
}

.newsImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  border-radius: 2px;
}

.content {
  .light & {
    min-height: 200px;
  }

  .dark & {
    @include tablet {
      min-height: 300px;
    }

    @include mobile {
      min-height: 250px;
    }
  }
}

.meta {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
  gap: 5px;

  @include mobile {
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
  }
}

.date {
  @include responsive-font(news-date);
  font-family: $font-family;
  font-weight: 300;
  line-height: 100%;
}

.tag {
  @include responsive-font(news-tag);
  font-family: $font-family;
  font-weight: 400;
  line-height: 100%;
  text-transform: uppercase;
}

.title {
  @include responsive-font(news-title);
  font-family: $font-family;
  font-weight: 700;
  line-height: 32px;
  margin-bottom: 12px;

  @include tablet {
    line-height: 28px;
  }

  @include mobile {
    line-height: 18px;
  }
}

.description {
  @include responsive-font(news-content);
  font-family: $font-family;
  font-weight: 300;
  line-height: 25px;

  @include tablet {
    line-height: 22px;
  }

  @include mobile {
    line-height: 20px;
  }
}
